/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1160px;
    margin: 100px auto;
    padding: 10px;
    
}
.container .grid-container {
    display: grid;
    /*grid-template-columns: 1fr 1fr 2fr; /* Define two equal columns using fraction instead of pixel *this is the best practice* */
    grid-template-columns: repeat(3, 1fr); /* Define three equal columns using the repeat function. */
    /*grid-template-columns: 100px 200px 300px; /* Define three columns with different widths */
    column-gap: 10px; /* Space between columns */
    row-gap: 10px; /* Space between rows */
}

.item {
    background: steelblue;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    border: 3mm ridge skyblue; /* Add border to items *
    /* border: skyblue 2px solid; /* Add border to items */
}